input.rounded {
	width: 400px;
	height: 40px;
	border: 1px solid #ccc;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	font-size: 20px;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;
}
input.rounded:focus {
	border-color: #339933;
}
input.roundedb {
	position:relative;
	bottom: 5px;
	width:60px;
	height: 60px;
	background-color:#00ae34;
	color:#00ae34;
	border: 1px solid #00ae34;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	font-size: 10px;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;
	box-shadow: 0px 5px 0px 3px #007b25;
}
input.roundedb:active {
	position:relative;
	bottom:3px;
	box-shadow: 0px 3px 0px 3px #007b25;
}
div.container6 {
  height: 60em;
  display: flex;
  align-items: center;
  justify-content: center }

 body{
	 background-color:#38369a;
 }